<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 Bram Hammer. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="categoryimport_command" xsi:type="object">Bramhammer\CategoryImport\Console\Command\CategoryImportCommand</item>
			</argument>
		</arguments>
	</type>
</config>